<!-- footer begins -->
<footer class="border-top text-center small text-muted py-3">
    <p style="font-weight: bold;" class="m-0">Copyright &copy; 2023 <a href="/" class="text-muted">DevHub</a>. All rights reserved.</p>
  </footer>

  <% if(user) { %>
    <div id="chat-wrapper" class="chat-wrapper shadow border-top border-left border-right"></div>
    <script src="/socket.io/socket.io.js"></script>
  <% } %>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>$('[data-toggle="tooltip"]').tooltip()</script>
  <script src="/main-bundled.js"></script>
  </body>
  </html>